@font-face {
  font-family: 'Anka/Coder Condensed';
  src: url('./fonts/AnkaCoderCondensedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Anka/Coder Narrow';
  src: url('./fonts/AnkaCoderNarrowRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'https://fonts.googleapis.com/css?family=PT+Serif';

body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  border: 0;
  margin: 0;
  padding: 100px;
  line-height: calc(1em + 2px);
  max-width: 70ex;
  text-align: justify;
  hyphens: auto;
}

code {
  font-family: 'Anka/Coder Narrow';
}

code.bold {
  font-face: 'Anka/Coder Condensed';
  font-weight: bold;
}

div.cindented {
  padding-left: 1ex;
}
