body {
  font-family: 'myriad pro', sans-serif;
  font-size: 18px;
  border: 0;
  margin: 0;
  padding: 100px;
  line-height: calc(1em + 1px);
}

p {
  margin: 0;
}

code {
  font-family: "Anka/Coder Narrow";
}
