@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptserif/v19/EJRVQgYoZZY2vCFuvAFWzr-_dSb_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Anka/Coder Condensed';
  src: url('/html-reworked/fonts/AnkaCoderCondensedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Anka/Coder Narrow';
  src: url('/html-reworked/fonts/AnkaCoderNarrowRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  border: 0;
  margin: 0;
  padding: 2em;
  max-width: 564px;
  text-align: justify;
  hyphens: auto;
}

pre, code {
  font-family: 'Anka/Coder Narrow';
}

code.bold {
  font-face: 'Anka/Coder Condensed';
  font-weight: bold;
}

.cindented {
  padding-left: 1ex;
  line-height: 20px;
}
